/* ===== General settings ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Shadows Into Light", Cursive;
    font-size: 20px;
}
  
/* ===== Main ===== */
.wrapper {
    margin: 0 auto;
    width: 40vw;
}
.section-heading {
    align-self: center;
    font-size: 1.5rem;
    color: #333333;
}
  
/* ===== Hero Section ===== */
.hero {
    display: flex;
    flex-flow: column;
    margin-top: 2rem;
    height: 100vh;
}
.heading-title {
    align-self: center;
    font-size: 2.5rem;
    color: rgb(51, 51, 51);
    font-weight: 600;
    margin-bottom: 0.5rem;
    flex-basis: auto;
}
.heading-subtitle {
    align-self: center;
    font-size: 1.2rem;
    color: rgb(118, 118, 119);
    margin-bottom: 4rem;
    flex-basis: auto;
}
.img-lasagna {
    align-self: center;
    height: 450px;
    margin-bottom: 1rem;
    flex-basis: auto;
}
.recipe_table {
    align-self: center;
    width:30%;
    transition: all 0.3s ease;
    flex-basis: auto;
}
.recipe_thead {
    background-color: #ff592f;
    font-size: 1.2rem;
}
.recipe_table, .recipe_table-cell, .recipe_table-row {
    border:2px solid black;
    border-collapse: collapse;
    background-color: white;
}
.recipe_table:hover {
    transform: scale(1.1);
}
.recipe_table__name {
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 24px;
    margin-top: 17.6px;
    margin-right: 32px;
    margin-bottom: 0px;
}
.recipe_table__content {
    display: flex;
    margin-left: 24px;
    margin-top: 12.8px;
    margin-right: 32px;
    margin-bottom: 20px;
    line-height: 18px;
    max-width: 700px;
    width: 100%;
}
.box-1 {
    width: 80px;
    height: 40px;
}
.box-2 {
    width: 120px;
    height: 41px;
}
.box-3 {
    width: 80px;
    height: 43px;
}
.box-4 {
    width: 115px;
    height: 40px;
}
.box-5 {
    width: 90px;
    height: 41px;
}

.wave_container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/* ===== Ingredient Section ===== */
.ingredient {
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 20px 20px;
    border-left: 1px solid black;
}
.ingredient-list-heading {
    font-size: 1.1rem;
    font-weight: 700;
    color: #333333;
    margin: 0 0 0 1rem;
}
.ingredient-list {
    margin: 0 0 0 6rem;
}
li::marker {
    font-size: 1.5rem;
    color: #666666;
}

/* ===== Instructions Section ===== */
.instructions {
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 10px 20px;
    border-left: 1px solid black;
}
.instructions-list {
    margin: 0 0 0 6rem;
}

/* ===== Nutrition Section ===== */
.nutrition {
    display: flex;
    flex-flow: column;
    align-items: start;
    border-left: 1px solid black;
}
.nutrition-info_table {
    width: 30%;
    border-collapse: collapse;
    border-bottom: #333333 2px solid;
    margin: 1rem 7.2rem;
}
.nutrition-info_heading:nth-child(1) {
    border-top: 2px solid black; 
    border-bottom: 2px solid black;
}
.nutrition-info_table-row1 {
    margin-top: 6px;
}
.nutrition-info__heading-aside {
    font-size: 14px;
    font-weight: 400;
}
.nutrition-info_content {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    line-height: 20px;
}
.nbox-1 {
    width: 140px;
    height: 40px;
}
.nbox-2 {
    width: 140px;
    height: 41px;
}
.nbox-3 {
    width: 140px;
    height: 43px;
}
.nbox-4 {
    width: 140px;
    height: 40px;
}

/* Footer */
.footer {
    padding: 2rem 0;
    background-color: #2b2d42;
    color: white;
    text-align: center;
    margin: 0 auto;
}
.footer-text {
    transition: all 0.3s ease;
    cursor: default;
}
.footer-text:hover {
    color: #4895ef;
}

/* ===== Responsive Layout ===== */
@media (max-width: 1200px) {
    .wrapper {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .recipe_table, .nutrition-info_table {
        width: 90%;
    }
}