    html {
  font-family: "Shadows Into Light", Cursive;
  }
  .heading-title {
    font-size:50px;
    margin: 20px 0px 20px 40px;
    color: rgb(51, 51, 51);
    font-weight: 600;
  }
  .heading-subtitle {
    font-size:20px;
    margin: 20px 0px 20px 40px;
    width:700px;
    color: rgb(118, 118, 119);
  }
  h2 {
    font-size:20px;
    margin: 20px 0px 20px 40px;
    width:700px;
    color: #333333;
  }
  .ingredient-list-heading {
    font-size:16px;
    margin: 20px 0px 20px 40px;
    font-weight: 700;
    color: #333333;
  }
  .nutrition-info__heading-aside {
    font-size: 14px;
    font-weight: 400;
  }
  ul {
    color: green;
  }
  li {
    margin: 10px 10px 10px 10px;
    color: rgb(51, 51, 51);
    width: 30%;
  }
  .img-lasagna {
    font-size:16px;
    margin: 20px 0px 0px 40px;
  }
  .recipe-details_table {
    width:30%;
  }
  .recipe-details_table, .recipe-details_table-cell, .recipe-details_table-row {
    margin: 20px 0px 20px 40px;
    border:2px solid black;
    border-collapse: collapse;
  }
  .recipe-details_thead {
    background-color: #ff592f;
  }
  .container {
    display: flex;
    margin-left: 24px;
    margin-top: 12.8px;
    margin-right: 32px;
    margin-bottom: 20px;
    line-height: 18px;
    max-width: 700px;
    width: 100%;
  }
  .wrapper {
    margin: 0 auto;
  }
  p {
    margin-left: 14px;
  }
  .box-1 {
    width: 80px;
    height: 40px;
    font-size: 15px;
  }
  .box-2 {
    width: 120px;
    height: 41px;
  }
  .box-3 {
    width: 80px;
    height: 43px;
  }
  .box-4 {
    width: 115px;
    height: 40px;
  }
  .box-5 {
    width: 90px;
    height: 41px;
  }
  .table-lasagna {
    font-size: 30px;
    font-weight: 800;
    margin-left: 24px;
    margin-top: 17.6px;
    margin-right: 32px;
    margin-bottom: 0px;
  }
  .nutrition-info_table {
    width: 30%;
    margin: 0px 0px 20px 40px;
    border-collapse: collapse;
    border-bottom: #333333 2px solid;
  }
  .nutrition-info_heading:nth-child(1) {
    border-top: 2px solid black; 
    border-bottom: 2px solid black;
  }
  .nutrition-info_table-row1 {
    margin-top: 6px;
  }
  .container1 {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    line-height: 20px;
    }
    .nbox-1 {
      width: 140px;
      height: 40px;
      font-size: 15px;
    }
    .nbox-2 {
      width: 140px;
      height: 41px;
    }
    .nbox-3 {
      width: 140px;
      height: 43px;
    }
    .nbox-4 {
      width: 140px;
      height: 40px;
    }
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        align-items: flex-start;
      }
      .recipe-details_table, .nutrition-info_table {
        width: 90%;
      }
    }